<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peter.schoolmarket">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />



    <application
        android:name=".application.MarketApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:theme="@style/AppTheme"-->
        <activity android:name=".mvp.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme_Light.White"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.White"/>

        <activity android:name=".mvp.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.login.register.next.RegisterNextActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.test.TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.sort.trades.TradeTagDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.trade.add.TradeAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.trade.detail.TradeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.more.notice.detail.NoticeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.more.notice.add.NoticeAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.main.about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.main.trade.DrawerTradeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.msg.detail.MsgDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".mvp.more.notice.my.NoticeMyActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 注册广播 -->
        <receiver android:name=".util.BroadUtils">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".mvp.msg.MsgService">
            <!--<intent-filter>
                <action android:name="com.peter.schoolmarket.mvp.msg.MsgService"/>
            </intent-filter>-->
        </service>

    </application>

</manifest>